@use "../variables";

// .login {
//   display: flex;
//   flex-direction: row;
//   height: 100vh;
//   width: 100vw;
//   position: absolute;
//   left: 0;
//   top: 0;
//   z-index: 500000;
// }

// .login .login_svg {
//   width: 100%;
//   background-color: #004c69;
//   padding: 50px 100px 180px 100px;
//   position: relative;
//   overflow: hidden;
// }

// .login_details {
//   background-color: variables.$light-blue;
//   width: 100%;
//   padding: 100px 200px 10px 200px;
//   text-align: left;

//   h1 {
//     color: #004c69;
//     margin-bottom: 10px;
//   }

//   p {
//     color: #7fa5b4;
//     margin-bottom: 60px;

//     &:first-of-type {
//       font-weight: bold;
//     }
//   }

//   button {
//     font-family: Metropolis, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
//     font-size: 1rem;
//     font-weight: bold;

//     color: variables.$dark-blue;
//     background-color: variables.$white;

//     border: none;
//     border-radius: variables.$rounded-corners;
//     padding: 12px 32px;
//     height: 56px;
//     width: 100%;
//     transition: all 0.1s ease-out;

//     &:hover {
//       transform: translateY(-14px);
//     }
//   }
// }

// #btn_inloggen {
//   background-color: variables.$lime;
// }

// .under-button {
//   margin: 24px 0;
//   border-radius: variables.$rounded-corners;
//   width: 100%;
//   height: 56px;
// }

// fieldset {
//   border: none;
//   border-top: 3px solid variables.$blue;
//   padding-top: 50px;
// }

// fieldset legend {
//   font-weight: bold;
//   color: variables.$blue;
//   padding: 5px 30px;
//   border-radius: variables.$rounded-corners;
//   text-align: center;
// }

// #labelInput {
//   font-size: 1rem;
//   color: variables.$dark-blue;
//   margin-top: 25px;

//   label {
//     font-weight: bold;
//   }

//   input {
//     color: variables.$blue;
//     font-size: 1rem;
//     font-weight: bold;

//     border: none;
//     outline: none;
//     padding: 12px 32px 12px 24px;
//     height: 56px;
//     width: 100%;
//     border-radius: variables.$rounded-corners;
//     margin-top: 10px;
//   }
// }

// .login_details .onthoud_mij {
//   margin-top: 15px;
//   color: #004c69;
// }

// .onthoud_mij {
//   font-weight: bold;
//   display: block;
//   position: relative;
//   padding-left: 35px;
//   margin-bottom: 42px;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// .onthoud_mij label {
//   padding-left: 10px;
//   position: relative;
// }

// /* On mouse-over, add a grey background color */
// .onthoud_mij:hover input ~ .checkmark {
//   background-color: variables.$white;
//   border-radius: variables.$rounded-corners;
// }

// /* When the checkbox is checked, add a blue background */
// .onthoud_mij input:checked ~ .checkmark {
//   background-color: variables.$blue;
//   border-radius: variables.$rounded-corners;
// }

// /* Create the checkmark/indicator (hidden when not checked) */
// .checkmark:after {
//   content: "";
//   position: absolute;
//   display: none;
//   border-radius: variables.$rounded-corners;
// }

// /* Show the checkmark when checked */
// .onthoud_mij input:checked ~ .checkmark:after {
//   display: block;
//   border-radius: variables.$rounded-corners;
// }

// /* Style the checkmark/indicator */
// .onthoud_mij .checkmark:after {
//   border-radius: variables.$rounded-corners;
//   left: 9px;
//   top: 5px;
//   width: 5px;
//   height: 10px;
//   border: solid variables.$white;
//   border-width: 0 3px 3px 0;
//   -webkit-transform: rotate(45deg);
//   -ms-transform: rotate(45deg);
//   transform: rotate(45deg);
// }

// #exampleCheck {
//   font-size: 20px;
//   cursor: pointer;
//   height: 20px;
//   width: 20px;
//   accent-color: variables.$blue;
//   background-color: variables.$white;
//   border-radius: variables.$rounded-corners;
// }

// #exampleCheck:checked {
//   background: rgba(0, 0, 0, 0);
//   border: 3px solid variables.$blue;
//   border-top: none;
//   border-right: none;
//   border-radius: variables.$rounded-corners;
// }

// .checkmark {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 25px;
//   width: 25px;
//   background-color: variables.$white;
//   border-radius: variables.$rounded-corners;
//   transition: all 0.2s ease-out;
// }

// .hidemarks input {
//   position: absolute;
//   opacity: 0;
//   cursor: pointer;
//   height: 0;
//   width: 0;
// }

// #exampleCheck:checked ~ .checkmark {
//   background-color: variables.$blue;
// }

// .login_svg p {
//   font-size: 1.75rem;
//   color: variables.$blue;
//   margin-left: 2px;
//   z-index: 10;
// }

// .login_svg img:first-of-type {
//   margin-top: 52px;
//   margin-bottom: 70px;
//   min-width: 35%;
//   width: 35%;
//   z-index: 1;
// }
// .login_svg img:last-of-type {
//   left: -300px;
//   width: 300%;
//   overflow: hidden;
//   position: absolute;
//   bottom: 120px;
//   z-index: 1;
// }

// // Log out button.
// .nav-user-main {
//   position: relative;
// }

.login {
  display: grid;
  grid-template-columns: 1fr;

  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 500000;

  color: variables.$dark-blue;
  background-color: variables.$light-blue;
}

.login_details {
  padding: variables.$margin-sm;

  h1 {
    font-size: variables.$font-size-title-md;
    padding-top: variables.$padding-lg;
  }

  .login-text-info {
    font-size: variables.$font-size-md;
    color: variables.$blue;
    padding-bottom: variables.$padding-lg;
  }

  label {
    padding-bottom: variables.$padding-sm;

    &[for="Gebruikersnaam"] {
      padding-top: variables.$padding-xl;
    }
  }

  label,
  p {
    display: block;
    font-weight: bold;
    font-size: variables.$font-size-sm;
  }

  input,
  button,
  .login-error {
    font-family: variables.$font-stack;
    font-size: variables.$font-size-sm;

    border-radius: variables.$rounded-corners;
    height: variables.$nav-height-sm;

    border: none;
    outline: none;
    width: 100%;

    background-color: variables.$white;
  }

  input {
    padding: 0px variables.$padding-md;
    margin-bottom: variables.$margin-md;

    font-size: variables.$font-size-ty;
    color: variables.$blue;
  }

  button {
    color: variables.$dark-blue;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      transform: translateY(-1 * variables.$gap-sm);
    }
    transition: all 0.1s ease-out;
  }

  form {
    padding: variables.$padding-xl 0px;
  }

  .under-button {
    border-radius: variables.$rounded-corners;
    height: variables.$nav-height-sm;
    background-color: variables.$blue;
  }

  .under-button {
    margin-top: variables.$margin-sm;
  }

  .login-error {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: variables.$margin-md 0px;
    margin-top: variables.$margin-xl;

    font-size: variables.$font-size-ty;
    font-weight: 600;
  }

  .login-error + div > label {
    padding-top: 0px;
  }
}

h2 {
  color: variables.$blue;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid variables.$blue;
  line-height: 0.005em;

  > span {
    background-color: variables.$light-blue;
    font-size: variables.$font-size-sm;
    padding: 0px variables.$padding-sm;
  }
}

#exampleCheck {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  margin-right: variables.$margin-sm;
}

#btn_inloggen {
  background-color: variables.$lime;
}

.login_svg {
  background-color: variables.$dark-blue;

  > div {
    padding: variables.$margin-md;
  }

  p {
    color: variables.$blue;
    font-size: variables.$font-size-title-ty;
  }

  #fluvius-logo {
    margin-top: 10%;
    width: 50%;
    max-width: 250px;
    margin-bottom: variables.$margin-md;
  }

  #fluvius-pattern {
    width: 100%;
    margin-top: 10%;
  }
}

@media screen and (min-width: variables.$small) {
}

@media screen and (min-width: variables.$medium) {
  .login_details {
    width: 80%;
    max-width: 600px;
    margin: auto;

    h1 {
      padding-top: 0px;
    }
  }

  .login_svg {
    > div {
      width: 80%;
      max-width: 600px;
      margin: auto;
    }

    #fluvius-logo {
      margin-top: 15%;
    }

    p {
      font-size: variables.$font-size-title-sm;
    }
  }
}

@media screen and (min-width: variables.$large) {
  .login {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: variables.$extra-large) {
}

@media screen and (min-width: variables.$two-extra-large) {
  .login_details {
    h1 {
      font-size: variables.$font-size-title-lg;
      padding-bottom: variables.$margin-sm;
    }

    .login-text-info {
      margin-bottom: variables.$margin-xl;
    }

    label {
      padding-bottom: variables.$padding-sm;

      &[for="Gebruikersnaam"] {
        padding-top: variables.$padding-xl;
      }
    }

    label,
    p {
      font-size: variables.$font-size-md;
    }

    input,
    button,
    .login-error {
      font-size: variables.$font-size-md;
      height: variables.$nav-height-md;
    }

    input {
      font-size: variables.$font-size-sm;
      margin-bottom: variables.$margin-lg;
    }

    button {
      &:hover {
        transform: translateY(-1 * variables.$gap-md);
      }
    }

    .under-button {
      height: variables.$nav-height-md;
    }

    .login-error {
      margin-top: 48px;
      font-size: variables.$font-size-sm;
    }
  }

  .login_svg {
    #fluvius-logo {
      margin-top: 25%;
    }
  }
}
