@use "../variables";

// 5. Template.
.mvo-info-template {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: variables.$card-height-sm;
  margin: 0px variables.$margin-sm;
  gap: variables.$gap-sm;

  user-select: none;
  display: grid;
}

.template {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: variables.$card-height-sm;
  margin: 0px variables.$margin-sm;
  gap: variables.$gap-sm;
}

// 5A - Manage and create template.
.create-dashboard-category-list {
  width: 100%;
  height: 112px;
  border-radius: variables.$rounded-corners;
  background-color: variables.$white;
  display: flex;
  align-items: center;
  padding-inline: 20px;
  gap: 14px;
}

.category-button-create-template {
  height: 64px;
  width: 150px;
  border-radius: variables.$rounded-corners;
  border: none;
  color: variables.$dark-blue;
  font-size: 1.1rem;
  background-color: variables.$lighter-gray;
  transition: all 0.1s ease-in-out;
}

.grid-add-category-assigned {
  width: 100%;
  background-color: variables.$white;
  color: variables.$gray;
  border: none;
  border-radius: variables.$rounded-corners;
  text-align: left;
  padding: 24px;
  font-size: 1.5rem;
}

.grid-add-category-default {
  width: 100%;
  background-color: variables.$white;
  color: variables.$lighter-gray;
  border: none;
  border-radius: variables.$rounded-corners;
  font-size: 5rem;
}

@media screen and (min-width: variables.$small) {
}

@media screen and (min-width: variables.$medium) {
  .template {
    grid-auto-rows: variables.$card-height-md;
    margin: 0px variables.$margin-md;
    gap: variables.$gap-md;
  }

  .mvo-info-template {
    grid-auto-rows: variables.$card-height-md;
    margin: 0px variables.$margin-md;
    gap: variables.$gap-md;
  }
}

@media screen and (min-width: variables.$large) {
  .template {
    grid-auto-rows: variables.$card-height-lg;
    margin: 0px variables.$margin-lg;
  }

  .mvo-info-template {
    grid-auto-rows: variables.$card-height-lg;
    margin: 0px variables.$margin-lg;
  }
}

@media screen and (min-width: variables.$extra-large) {
}

@media screen and (min-width: variables.$two-extra-large) {
  .template {
    grid-auto-rows: variables.$card-height-xl;
    margin: 0px;
    gap: variables.$gap-lg;
  }

  .mvo-info-template {
    grid-auto-rows: variables.$card-height-xl;
    margin: 0px;
    gap: variables.$gap-lg;
  }
}
