// Colors.
$white: #fff;
$light-blue: #dfe8ec;
$blue: #7fa5b4;
$dark-blue: #004c69;
$breadcrumb-blue: #f2f7f9;
$lime: #b2d235;
$orange: #f59c00;
$red: #ffffff;
$lighter-gray: #efefef;
$light-gray: #cccccc;
$gray: #646464;

// Font stack.
$font-stack: Metropolis, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// Font sizes.
$font-size-ty: 0.85rem;
$font-size-sm: 0.9375rem;
$font-size-md: 1rem;

$font-size-title-ty: 1.25rem;
$font-size-title-sm: 1.5rem;
$font-size-title-md: 1.75rem;
$font-size-title-lg: 2rem;

$font-size-sdg-icon-sm: 1.1rem;
$font-size-sdg-icon-md: 1.3rem;

$font-size-csr-sm: 1.05rem;
$font-size-csr-md: 1.2rem;
$font-size-csr-lg: 1.3rem;
$font-size-csr-xl: 1.5rem;

// Padding.
$padding-sm: 8px;
$padding-md: 16px;
$padding-lg: 24px;
$padding-xl: 32px;

// Margin.
$margin-sm: 8px;
$margin-md: 16px;
$margin-lg: 24px;
$margin-xl: 32px;

// Gap.
$gap-sm: 8px;
$gap-md: 12px;
$gap-lg: 24px;

// Navigation bar height.
$nav-height-sm: 48px;
$nav-height-md: 56px;

// Category and CSR icon width.
$icon-width-sm: 16px;
$icon-width-md: 18px;
$icon-width-lg: 20px;

// Card height.
$card-height-sm: 200px;
$card-height-md: 212px;
$card-height-lg: 225px;
$card-height-xl: 250px;

// Screen sizes.
$small: 640px;
$medium: 768px;
$large: 1024px;
$extra-large: 1280px;
$two-extra-large: 1600px;

// Constants.
$rounded-corners: 5px;
$rounded-corners-icon: 4px;
